body{
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title{
    font-size: 60px;
    font-weight: lighter;

    padding: 10px;
    margin: 0px;
}

#create-account-form{
    width: 600px;
    height: 410px;

    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    padding: 10px;
}

#columns{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

#create-account-form label{
    font-size: 20px;
}

.create-account-text{
    box-sizing: border-box;
    font-size: 25px;
    width: 100%;
    border-radius: 1rem;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #000000;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.create-account-text:active{
    border-radius: 1rem;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #000000;
}

#submit{
    all: unset;

    font-size: 30px;

    padding: 10px;
    margin: 10px;
    margin-top: 0px;

    background-color: #182041;
    color: #ffffff;

    border-radius: 1rem;

    text-align: center;

    cursor: pointer;
}

#submit:hover{
    background-color: #2a345d;
}