<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collyer's Theatre Booking - Create Account</title>

        <link rel="stylesheet" type="text/css" href="static/css/common.css">
        <link rel="stylesheet" type="text/css" href="static/css/account-created.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

        <script defer src="static/js/create-account.js"></script>
        <script defer src="static/js/common.js"></script>
    </head>

    <body>
        <div id="border">
            <h1 id="title">Account Successfully Created!</h1>
            <a id="return-link" href="./">Return To Sign In</a>
        </div>

        <div id="flash-container"></div>
    </body>
</html>