<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collyer's Theatre Booking - Admin Add Event</title>

        <link rel="stylesheet" type="text/css" href="static/css/common.css">
        <link rel="stylesheet" type="text/css" href="static/css/admin-add-event.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

        <script defer src="static/js/admin-add-event.js"></script>
        <script defer src="static/js/common.js"></script>
    </head>

    <header> 
            <nav id="navigation-bar">
                <ul>
                    <li><a href="./admin-dashboard" class="nav-button current">Dashboard</a></li>
                    <li><a href="./admin-users" class="nav-button">Users</a></li>
                </ul>
            </nav>

            <a id="logout" class="nav-button" href=".">ADMIN</a>
    </header>

    <body>
        <div id="header-spacer"></div>
        
        <div id="columns">
            <div id="left-column">
                <h1>Add Event:</h1>
                <h2>Select Unavailable Seats:</h2>

                <div id="screen">Stage/Screen</div>

                <div id="seats">
                    {% for i in range(1, 11): %}
                        <div class="seat-row">
                            {% for j in ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "O", "P", "Q", "R", "S", "T"]: %}
                                <button class="seat-button available-seat" id="{{ i }}{{ j }}" onclick="addSeat('{{ i }}{{ j }}')">{{ i }}{{ j }}</button>

                                {% if j == "J": %}
                                    <div class="isle"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <form id="right-column" onsubmit=addEvent()>
                <div class="inline-entry">
                    <p id="name-text" for="name">Name:</p>
                    <input id="name" type="text"><br>
                </div>

                <p id="description-text" for="description">Description:</p>
                <textarea id="description"></textarea><br>

                <div class="inline-entry">
                    <p for="adultPrice">Adult Price: £</p>
                    <input id="adultPrice" type="number" step="0.01" value="10.00"><br>
                </div>

                <div class="inline-entry">
                    <p for="childPrice">Child Price: £</p>
                    <input id="childPrice" type="number" step="0.01" value="5.00"><br>
                </div>

                <div class="inline-entry">
                    <p for="elderlyPrice">Elderly Price: £</p>
                    <input id="elderlyPrice" type="number" step="0.01" value="5.00"><br>
                </div>

                <input id="submit" type="submit" value="Add Event">

                <p class="note">* Note: you will still have to add showings of the event from the main dashboard.</p>
            </form>
        </div>

        <div id="flash-container"></div>
    </body>
</html>