<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collyer's Theatre Booking - Admin Dashboard</title>

        <link rel="stylesheet" type="text/css" href="static/css/common.css">
        <link rel="stylesheet" type="text/css" href="static/css/admin-dashboard.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

        <script defer src="static/js/common.js"></script>
    </head>

    <header> 
            <nav id="navigation-bar">
                <ul>
                    <li><a href="#" class="nav-button current">Dashboard</a></li>
                    <li><a href="./admin-users" class="nav-button">Users</a></li>
                </ul>
            </nav>

            <a id="logout" class="nav-button" href=".">ADMIN</a>
    </header>

    <body>
        <div id="header-spacer"></div>
        <a id="add-event" href="./admin-add-event">Add Event</a>

        {% for index in range(length): %}
            <details> <!-- TODO: Add CSS formatting to details pane for performances -->
                <summary>{{ performances[index][1] }}</summary>
                <h3>Add new showing:</h3>
                <input type="date"> <!-- TODO: Add JS functionality to add showing date select -->

                <button>Delete Performance</button> <!-- TODO: Add JS functionality to delete performance, TODO: Add CSS formatting to delete button -->

                <hr>

                {% for showing in showings[index]: %}
                    <h2>{{ showing[1] }}</h2>
                    <h3>Tickets Sold: {{ 200-showings[2] }}/200</h3>
                    <h3>Revenue: PLACEHOLDER</h3>

                    <details> <!-- TODO: Add CSS formatting to details pane for attendees -->
                        <summary>Attendees</summary>

                        {% for attendee in showing[3] %}
                            <p>{{ attendee[1] }} {{ attendee[2] }} - {{ attendee[3] }}</p>
                        {% endfor %}
                    </details>

                    <hr>
                {% endfor %}

            </details>
        {% endfor %}
        

        <div id="flash-container"></div>
    </body>
</html>