<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collyer's Car Park - Admin View User</title>

        <link rel="stylesheet" type="text/css" href="static/css/common.css">
        <link rel="stylesheet" type="text/css" href="static/css/login.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

        <script defer src="static/js/login.js"></script>
    </head>

    <body>
        <form id="login-form" onsubmit=checkPassword()>
            <h1>Sign In</h1>
            <label for="username">Email:</label>
            <input class="login-text" id="username" type="text" autocomplete="email"><br>
            <label for="password">Password:</label>
            <input class="login-text" id="password" type="password" autocomplete="current-password"><br>
            <input id="submit" type="submit" value="Sign In">
            <a id="create-account" href="">Create Account</a>
        </form>

        <div id="flash-container"></div>
    </body>
</html>